.page-header
  %h1
    Landing Pages
.panel.panel-default
  / Default panel contents
  .panel-heading
    = @landing_page.name
    %button.btn.btn-default.btn-sm.pull-right{"data-target" => "#scriptModal", "data-toggle" => "modal"} Code Snippet
    = link_to 'Edit', edit_landing_page_path(@landing_page), class: "btn btn-default btn-sm pull-right"
  .panel-body
    %p= @landing_page.url
  %table.table
    %tr
      %th Lead Date/Time
      %th Form
    %tr
    - @landing_page.leads.each do |lead|
      %td= lead.created_at.strftime("%b %d, %Y, %r") 
      %td $100

= render 'script'