<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @landing_page.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @landing_page.name %>
</p>

<%= link_to 'Edit', edit_landing_page_path(@landing_page) %> |
<%= link_to 'Back', landing_pages_path %>
