<p id="notice"><%= notice %></p>

<p>
  <strong>Params:</strong>
  <%= @lead.params %>
</p>

<p>
  <strong>Url:</strong>
  <%= @lead.url %>
</p>

<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
