%html
  %head
    %title Fastcall
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    / %p.notice= notice
    / %p.alert= alert
    - if user_signed_in?
      #wrapper
        = render 'layouts/dashboard'
        #page-content-wrapper
          %a#menu-toggle.btn.btn-default{:href => "#menu-toggle"} Toggle Menu
          = yield
    - else
      = yield
